<div class="tab-content-item">
    <div style="margin-bottom: 175px">
        <div class="screen-1085 pos-mar-top120">
            <div id="hover_bg_img">
                <div class="abu-title">
                    <p class="abu-title-left">公司简介</p>
                    <p class="title-gray abu-title-bg">INTRODUCTION</p>
                </div>
                <div class="abu-bg">
                    <img src="/images/aboutUsImg/company-profile-bg.png" alt="">
                </div>
                <div class="abu-float">
                    <p>广州市全民钱包科技有限公司成立于2017年7月，是通过消费场景连接消费者与金融机构的金融科技公司。</p>
                    <p>公司旗下的分期商城是一个提供分期消费的金融服务平台，旨在解决广大用户小额高频的消费分期需求，全力促进用户与金融机构进行高效对接，优化金融资源配置，助力金融机构实现快速引流并提升经营效率。</p>
                    <p>自公司成立以来，一直秉持“以传达幸福为己任”的企业理念，以大数据、人工智能等科技手段提高营销获客能力及风险管理能力，不断向金融机构输出创新金融科技服务，全面提升了消费分期服务的可得性和易用性。</p>
                    <p>公司具备专业的产品服务和良好的声誉，入选了广州市普惠金融协会副会长单位，广东互联网金融协会会员单位。并先后荣获年度金融科技杰出风控企业奖、年度金融科技最具影响力企业奖、第九届中国财经峰会杰出智能创新奖等多项荣誉。</p>
                </div>
            </div>
            <ul id="abu-footer" class="abu-footer clear">
                <li>
                    <p class="title-list">公司目标</p>
                    <p>致力于打造以金融科技为核心 传递全民幸福的金融服务公司</p>
                </li>
                <li style="margin: 0 32px">
                    <p class="title-list">公司愿景</p>
                    <p>以传达幸福为己任</p>
                </li>
                <li>
                    <p class="title-list">公司定位</p>
                    <p>全民自由消费分期平台</p>
                </li>
            </ul>
        </div>
        <div class="screen-1085 pos-mar-top120">
            <div class="abu-title">
                <p class="abu-title-left">办公环境</p>
                <p class="title-gray abu-title-bg">ENVIRONMENT</p>
            </div>
            <div class="abu-banner">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="/images/aboutUsImg/Office-banner-1.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/aboutUsImg/Office-banner-2.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/aboutUsImg/Office-banner-3.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/aboutUsImg/Office-banner-4.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/aboutUsImg/Office-banner-5.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/aboutUsImg/Office-banner-6.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="screen-1085 pos-mar-top120">
            <div class="abu-title">
                <p class="abu-title-left">发展历程</p>
                <p class="title-gray abu-title-bg">DEVELOPMENT</p>
            </div>
            <div class="development-top">
                <img src="/images/aboutUsImg/qh.png" alt="">
            </div>
            <div class="development-info">
                <div class="development-info-top">
                    <span class="years">2020</span>
                    <span class="line"></span>
                    <span class="vertical-line"></span>
                </div>
                <div class="development-info-main">
                    <span class="months">8月</span>
                    <img class="circle" src="/images/aboutUsImg/sh.png" alt="">
                    <span class="text" >荣膺中国财经峰会杰出智能创新奖、开展快乐暑假·童心童行—全民钱包关爱“小候鸟”活动</span>
                </div>
                <div class="development-info-main">
                    <span class="months">7月</span>
                    <img class="circle" src="/images/aboutUsImg/sh.png" alt="">
                    <span class="text" >荣获年度金融科技最具影响力企业、开展城市支教·情暖童心—全民钱包携手千禾社区基金会公益行活动</span>
                </div>
            </div>
            <div class="development-info">
                <div class="development-info-top">
                    <span class="years">2019</span>
                    <span class="line"></span>
                    <span class="vertical-line"></span>
                </div>
                <div class="development-info-main">
                    <span class="months">11月</span>
                    <img class="circle" src="/images/aboutUsImg/sh.png" alt="">
                    <span class="text" >成为广东互联网金融协会会员单位</span>
                </div>
                <div class="development-info-main">
                    <span class="months">10月</span>
                    <img class="circle" src="/images/aboutUsImg/sh.png" alt="">
                    <span class="text" >开展“点燃足球梦，绿茵公益行”主题公益活动</span>
                </div>
                <div class="development-info-main">
                    <span class="months">9月</span>
                    <img class="circle" src="/images/aboutUsImg/sh.png" alt="">
                    <span class="text" >开展爱满人间，中秋团圆—全民钱包中秋助残爱心行活动</span>
                </div>
                <div class="development-info-main">
                    <span class="months">8月</span>
                    <img class="circle" src="/images/aboutUsImg/sh.png" alt="">
                    <span class="text" >担任广州市普惠金融协会副会长单位、荣获年度金融科技杰出风控企业奖</span>
                </div>
            </div>
            <div class="development-info" style="padding: 56px 0 0 0;">
                <div class="development-info-top">
                    <span class="years">2017</span>
                    <span class="line"></span>
                    <span class="vertical-line"></span>
                </div>
                <div class="development-info-main">
                    <span class="months">10月</span>
                    <img class="circle" src="/images/aboutUsImg/sh.png" alt="">
                    <span class="text" >自主研发的风控系统上线</span>
                </div>
                <div class="development-info-main">
                    <span class="months">7月</span>
                    <img class="circle" src="/images/aboutUsImg/cs.png" alt="">
                    <span class="text"><b>全民钱包分期商城正式上线</b></span>
                    <span class="dis-line"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var mySwiper = new Swiper ('.swiper-container', {
        loop: true, // 循环模式选项
        autoplay: {
            delay: 3000,
            stopOnLastSlide: false,
            disableOnInteraction: false,
        },
        initialSlide : 0,
        slidesPerView: 3,
        spaceBetween: 0,
        centeredSlides: true,
    });
    $(function () {
        $("#hover_bg_img").hover(function(){
            $(".abu-bg > img").css("transform","scale(1.1)");
        },function(){
            $(".abu-bg > img").css("transform","scale(1)");
        });

        $(window).on('scroll', function () {
            if (window.location.hash === "#abu_id" || window.location.hash === '') {
                scroll();
            }
        });
        function scroll() {
            // 给公司简介图片添加动画
            if (getLabelHeight ('#abu-footer')) {
                for (var index = 0; index < $('.abu-footer > li').length; index++) {
                    $('.abu-footer > li').eq(index).addClass('animate__fadeInDown'+index);
                    $('.abu-footer > li').eq(index).css('opacity', '1')
                }
            }
        }
        function getLabelHeight (id) {
            return $(window).height()-($(id).offset().top-$(document).scrollTop()) > 200
        }
    })
</script>
