<div class="footer-container">
  <div class="footer">
    <div class="screen-1085 clear">
      <div class="footer-l" style="margin-right: 100px;">
        <div class="title">关于我们</div>
        <div class="service"><a href="/productIntroduction.html" target="_blank">产品介绍</a></div>
        <div class="email"><a href="/companyDynamics/index.html" target="_blank">公司动态</a></div>
      </div>
      <div class="footer-l">
        <div class="title">联系我们</div>
        <div class="service">客服邮箱：service@qmqb.top</div>
        <div class="email">商务邮箱：marketing@qmqb.top</div>
      </div>
      <div class="footer-r">
        <div class="title">关注我们/下载移动客户端</div>
        <div class="content clear">
          <div class="item">
            <img src="/images/common/contact-icon1.png">
            <div class="desc">全民钱包官方微信</div>
          </div>
          <div class="item">
            <img src="/images/common/contact-icon2.png">
            <div class="desc">全民钱包官方微博</div>
          </div>
          <div class="item">
            <img src="/images/common/contact-icon3.png">
            <div class="desc">全民钱包APP</div>
          </div>
        </div>
      </div>
      <div class="copyright">
        Copyright © 2017-2020 全民钱包 版权所有 <a href="https://beian.miit.gov.cn/" target="_blank">粤ICP备20053425号-2</a>
        <img class="police" src="/images/common/icon_police.png">
        <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44010602008268" target="_blank">粤公网安备 44010602008268号</a>
      </div>
    </div>
  </div>
</div>
