<div class="tab-content-item">
    <ul class="screen-1085 clear honor-info" style="">
        <li>
            <div>
                <img src="/images/aboutUsImg/honor-1.png" alt="">
            </div>
            <p>荣膺中国财经峰会「 杰出智能创新奖 」 智能技术实力备受行业认可</p>
        </li>
        <li class="" style="margin: 0 19px">
            <div>
                <img src="/images/aboutUsImg/honor-2.png" alt="">
            </div>
            <p>荣膺「 年度金融科技最具影响力企业 」 实力演绎智能科技创新</p>
        </li>
        <li>
            <div>
                <img src="/images/aboutUsImg/honor-3.png" alt="">
            </div>
            <p>荣膺「 年度金融科技杰出风控企业奖 」 创新技术引领金融智能化</p>
        </li>
        <li>
            <div>
                <img src="/images/aboutUsImg/honor-4.png" alt="">
            </div>
            <p>广州市普惠金融协会副会长单位</p>
        </li>
        <li class="" style="margin: 0 18px">
            <div>
                <img src="/images/aboutUsImg/honor-5.png" alt="">
            </div>
            <p>广东互联网金融协会会员单位</p>
        </li>
    </ul>
</div>
