<div class="tab-content-item">
    <div>
        <div class="security-title" style="margin-top: 53px">
            <img src="/images/aboutUsImg/security-intellect.png" alt="">
            <p class="title-fol">智能</p>
            <p class="title-line"></p>
            <p class="title-gray security-title-bg">INTELLIGENCE</p>
        </div>
        <ul class="intellect-info clear">
            <li>
                <img src="/images/aboutUsImg/intellect-1.png" alt="">
                <p>全民钱包利用大数据及人工智能等数字化技术搭建了智能风控系统——观星平台，以风险定价为核心的风控能力经受住了市场的检验；</p>
            </li>
            <li style="margin: 0 116px">
                <img src="/images/aboutUsImg/intellect-2.png" alt="">
                <p>基于海量数据建立的评分模型，可通过反撸分和观星分对用户的风险水平进行量化管理，能够为金融机构提供反欺诈、风险管理、数据建模、资产定价、产品定制、贷后管理等服务，以及一体化的风控综合解决方案；</p>
            </li>
            <li>
                <img src="/images/aboutUsImg/intellect-3.png" alt="">
                <p>帮助金融机构拓展业务渠道，并加强风险防控，促使金融供需双方无缝对接，实现借贷的最优匹配，让金融服务更加安全与便捷。</p>
            </li>
        </ul>
    </div>
    <div>
        <div class="security-title" style="margin-top: 53px">
            <img src="/images/aboutUsImg/security-safe.png" alt="">
            <p class="title-fol">安全</p>
            <p class="title-line"></p>
            <p class="title-gray security-title-bg">SECURITY</p>
        </div>
        <div class="safe-info clear">
            <div class="safe-info-left">
                <h3>全方位保护用户隐私</h3>
                <p>
                    所有交易信息均实时同步备份，为多种环境的数据提供保护；
                    应用、数据、服务功能完全隔离，杜绝操作风险和数据泄露；
                    审慎的数据处理流程与数据合作，全方位保护用户隐私信息。
                </p>
            </div>
            <div class="safe-info-right"></div>
        </div>
    </div>
    <div>
        <div class="security-title" style="margin-top: 53px">
            <img src="/images/aboutUsImg/security-saf.png" alt="">
            <p class="title-fol">专业</p>
            <p class="title-line"></p>
            <p class="title-gray security-title-bg">SPECIALITY</p>
        </div>
        <div class="speciality-info clear">
            <div class="speciality-info-left">
                <img src="/images/aboutUsImg/team.png" alt="">
                <span>专业风控团队</span>
                <p>风控团队成员来自银行、互金、小贷等领域，拥有丰富的实操经验和技术储备</p>
            </div>
            <div class="speciality-info-right">
                <img src="/images/aboutUsImg/cooperation.png" alt="">
                <span>知名机构合作</span>
                <p>与多家知名信息安全专业机构合作，充分整合技术资源并不断完善系统安全性</p>
            </div>
        </div>
    </div>
</div>
